---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div id="three-container"></div>

  <script>
    import initFractalAnimation from "@scripts/FractalAnimation.js";
    initFractalAnimation();
  </script>
</Layout>
